<!DOCTYPE html>
<html>
	<head>
		<title>Bookmark Manager</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<header>
			<a href="/" alt="Home"><div id="logo">Bookmark Manager</div></a>
			<div id="user-links">
				<%= partial :user_links %>
			</div>
		</header>
		<%= partial :flash %>
	  <%= yield %>
	  <footer>
	  	<nav>
	  		<a href="/">Home</a>
	  	</nav>
	  </footer>
	</body>
</html>