<!DOCTYPE html>
<html>
	<head>
		<title>Bookmark Manager</title>
	</head>
	<body>
		<%= partial :welcome_message %>
		<%= partial :flash %>
	  <%= yield %>
	  <footer>
	  	<nav>
	  		<a href="/">Home</a>
	  		<a href="/sessions/new">Sign In</a>
	  		<a href="/users/new">New User</a>
	  	</nav>
	  </footer>
	</body>
</html>